In [1]:
import pandas as pd

In [2]:
pd.DataFrame([1,2,3,4,5])

   0
0  1
1  2
2  3
3  4
4  5

In [4]:
pd.DataFrame({'valori':[1,2,3,4,5]})

   valori
0       1
1       2
2       3
3       4
4       5

In [7]:
df = pd.DataFrame({'valori':[1,2,3,4,5], 'culori':['rosu', 'negru', 'verde', 'mov', 'azur'], 'nuluri':[None] * 5})

In [8]:
df['valori']

0    1
1    2
2    3
3    4
4    5
Name: valori, dtype: int64

In [9]:
df['culori']

0     rosu
1    negru
2    verde
3      mov
4     azur
Name: culori, dtype: object

In [10]:
df = pd.DataFrame({'valori':[1,2,3,4,5], 'culori':['rosu', 'negru', 'verde', 'mov', 'azur'], 'nuluri':[None] * 5, 'zile':['luni','marti', 'miercuri', 'joi', 'vineri']})
df

   valori culori nuluri      zile
0       1   rosu   None      luni
1       2  negru   None     marti
2       3  verde   None  miercuri
3       4    mov   None       joi
4       5   azur   None    vineri

In [11]:
df.head(2)

   valori culori nuluri   zile
0       1   rosu   None   luni
1       2  negru   None  marti

In [12]:
df.tail(2)

   valori culori nuluri    zile
3       4    mov   None     joi
4       5   azur   None  vineri

In [13]:
df.loc[2:3]

   valori culori nuluri      zile
2       3  verde   None  miercuri
3       4    mov   None       joi

In [15]:
df[['culori', 'zile']]

  culori      zile
0   rosu      luni
1  negru     marti
2  verde  miercuri
3    mov       joi
4   azur    vineri

In [16]:
df[['culori', 'zile']][2:3]

  culori      zile
2  verde  miercuri

In [18]:
df['dimensiuni'] = [90, 60, 90, 78, 55]

In [19]:
df

   valori culori nuluri      zile  dimensiuni
0       1   rosu   None      luni          90
1       2  negru   None     marti          60
2       3  verde   None  miercuri          90
3       4    mov   None       joi          78
4       5   azur   None    vineri          55

In [20]:
df[ df['dimensiuni'] > 60]

   valori culori nuluri      zile  dimensiuni
0       1   rosu   None      luni          90
2       3  verde   None  miercuri          90
3       4    mov   None       joi          78

In [21]:
df.describe()

         valori  dimensiuni
count  5.000000    5.000000
mean   3.000000   74.600000
std    1.581139   16.456002
min    1.000000   55.000000
25%    2.000000   60.000000
50%    3.000000   78.000000
75%    4.000000   90.000000
max    5.000000   90.000000